/* put the link to the highscores and the timer in the top corners of the page */
header {
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
}

/* formatting for the elements on the start page */
#start-page {
    text-align: center;
}