/* put the link to the highscores and the timer in the top corners of the page */
header {
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
}

.answer {
    background-color: darkcyan;
    border-color: darkcyan;
    display: block;
}

/* formatting for the elements on the start page */
#start-page {
    text-align: center;
}

/* quiz-page starts hidden */
#quiz-page {
    display: none;
}

#score-page {
    display: none;
}