/* put the link to the highscores and the timer in the top corners of the page */
header {
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
}

.answer {
    background-color: darkcyan;
    border-color: darkcyan;
    display: block;
}

/* formatting for the elements on the start page */
#start-page {
    text-align: center;
}

/* quiz-page starts hidden */
#quiz-page {
    display: none;
}

#score-page {
    display: none;
}

#scores-list {
    color: white;
    background-color: darkcyan;
}

#scores-list>li {
    padding: 5px 0;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

#scores-list>li:first-child {
    border-top: none;
}

#scores-list>li:last-child {
    border-bottom: none;
}